<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <display-name>ScienceAlerts</display-name>
        <servlet-name>ScienceAlertsMain</servlet-name>
        <servlet-class>com.appzone.sciencealerts.main.ScienceAlertsMain</servlet-class>
    </servlet>
    
    <listener>
        <display-name>ScheduleTaskManager</display-name>
        <listener-class>com.appzone.sciencealerts.scheduletasks.ScheduleTaskManager</listener-class>
    </listener>
    
    <servlet-mapping>
        <servlet-name>ScienceAlertsMain</servlet-name>
        <!--<url-pattern>/ScienceAlerts</url-pattern>
        http://127.0.0.1:8080/ScienceAlerts/ScienceAlerts-->
        <url-pattern>/*</url-pattern>
        <!--http://127.0.0.1:8080/ScienceAlerts-->
    </servlet-mapping>
    <resource-ref>
        <res-ref-name>jdbc/ScienceAlerts</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <context-param>
        <param-name>reloadable</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
    <param-name>my.context.param</param-name>
    <param-value>Hello World</param-value>
    </context-param>
</web-app>
